<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HORE!!!</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
</head>
<body style="background-color: #B6D4AE;">

    <div class="m-5" style="text-align: center;">    
        <p>HOREEYY.</p>
        <p>Asupan kalori kamu sudah ideal.</p>
        <p>Jaga terus yaa porsi makannya</p>
        <p>^^</p>
        <a href="{% url 'FeedbackApp:create' %}"><button style="font-size: 1vw" class="btn btn-primary ">Saran</button></a>
    <a href="{% url 'TestimonyApp:index' %}"><button style="font-size: 1vw" class="btn btn-primary ">Testimoni</button></a>
    </div>

<<<<<<< HEAD
    <a href="/IsiFeedback"><button style="font-size: 1vw" class="btn btn-danger ">Saran</button></a>
    <a href="/testimony"><button style="font-size: 1vw" class="btn btn-danger ">Testimoni</button></a>
=======
    

>>>>>>> a784c6934c4ad0cebd891abd144c7645ea0fcaf2
</body>
</html>