<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Input Makanan</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <style>
    body{
        background-repeat: no-repeat;
        height: 100%; 
        background-position: center;
        background-size: cover;
    }
    .ok{align-content: center;}
    </style>
</head>
<body background = "{% static 'images/1571486125145.jpg' %}" >
    <div class=" d-flex justify-content-center">
    <div style="margin: 15%; margin-top: 5%;" class="card-body bg-light" style="width: 80%;">
        <h1 style="font-size: 4.8vw; text-align: center;" class="ok">Makan apa aja hari ini?</h1><br>
        <div style="margin: 10%;margin-top: 5%; margin-bottom: 5%;">
        <form method="POST" action="{% url 'inputMakananApp:tambahMakanan' %}">
            {% csrf_token %}

            <div>
                <h2 style="font-size: 2.4vw"class="">Sarapan</h2>
                <div class="form-group">
                    <label style="font-size: 1vw" for="" class="">Menu utama</label>
                    {{ form.menuUtama }}
                </div>
                <div class="form-group">
                    <label style="font-size: 1vw" for="" class="">Lauk</label>
                    {{ form.lauk }}
                </div>
                <div class="form-group">
                    <label style="font-size: 1vw" for="" class="">Sayur</label>
                    {{ form.sayur }}
                </div>
            </div>

            <div>
                <h2 style="font-size: 2.4vw"class="">Makan siang</h2>
                <div class="form-group">
                    <label style="font-size: 1vw" for="" class="">Menu utama</label>
                    {{ form.menuUtama }}
                </div>
                <div class="form-group">
                    <label style="font-size: 1vw" for="" class="">Lauk</label>
                    {{ form.lauk }}
                </div>
                <div class="form-group">
                    <label style="font-size: 1vw" for="" class="">Sayur</label>
                    {{ form.sayur }}
                </div>
            </div>

            <div>
                <h2 style="font-size: 2.4vw"class="">Makan malam</h2>
                <div class="form-group">
                    <label style="font-size: 1vw" for="" class="">Menu utama</label>
                    {{ form.menuUtama }}
                </div>
                <div class="form-group">
                    <label style="font-size: 1vw" for="" class="">Lauk</label>
                    {{ form.lauk }}
                </div>
                <div class="form-group">
                    <label style="font-size: 1vw" for="" class="">Sayur</label>
                    {{ form.sayur }}
                </div>
                <button style="font-size: 1vw" type="submit" class="btn-primary">Hitung</button>
            </div>
            </div>
        </form>
    </div>
</div>
    </body>
</html>