<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jumlah kalori</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <style>
        body{
        background-repeat: no-repeat;
        height: 100%; 
        background-position: center;
        background-size: cover;
    }
    </style>
</head>
<body background = "{% static 'images/1571486125145.jpg' %}" >
    <div style="margin: 15%; margin-top: 5%;" class="card-body bg-light" style="width: 80%;">
    <h1>Kalorimu hari ini adalah</h1>
    <ul class="list-group">

            <li class="list-group-item">Sarapan     : 20 kalori</li>
            <li class="list-group-item">Makan siang : 20 kalori</li>
            <li class="list-group-item">Makan malam : 20 kalori</li>
            <li class="list-group-item">Total       : 60 kalori</li>
   </ul>
    <a href="{% url 'inputMakananApp:horey' %}"><button style="font-size: 1vw"class="btn-primary">Lihat saran</button>
    </a>
    </div>

</body>
</html>
