<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">


    <title>Masukan Untuk Kami</title>
  </head>
  <body style="background-image: url({% static 'assets/isibuku.jpg' %}); width: 110%; height: 100%; background-size: cover;">
    <div class="row">
      <div class="col">
        <div class="row" style="background-color: #00CED1; position: fixed; width: 110%;">


              <div class="col" style="font-size: 35px">
                <img src="{% static 'assets/bg.png' %}" style="width: 6%; height: 100%; border-radius: 30%;">
                <span class="whiteText">Calorie</span>&nbsp;<span class="blackText" style="font-weight: bold;">Ku</span>
              </div>


        </div>

        <div class="row" style="text-align: center;margin-left: 20%; margin-right: 20%; float: center; border-radius: 10%;">
          <div class="container-fluid">
            <br>
            <div class="pertanyaan" style="font-size: 48px;"> 
              <br><br>Ada Saran Untuk Kami? <br> </div>
              <div class="box" style="padding: 35%; padding-top: 5%; padding-bottom: 2%; align-self: center;">
              <form method="post" style="font-size:24px; font-style: italic; font-family: Merriweather;font-weight: bold;">
                {% csrf_token %}

                <div class="fontForm" style="float: left;">Nama: </div>
                <br>
                {{ formFeedback.Nama }} <br>
                <div class="fontForm" style="float: left;">Pesan: </div>
                <br>
                {{ formFeedback.Pesan }}

                
                <button type="Submit" class="btn btn-primary butt" style="margin-top: 8%;">Submit</button>
              </form>
              </div>
          </div>
        </div>

      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>