<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">


    <title>List Masukan Untuk Kami</title>
  </head>
  <body style="background-color: white;">

    <div class="row">
      <div class="col">
        <div class="row" style="background-color: #00CED1; position: fixed; width: 110%;">


              <div class="col" style="font-size: 35px">
                <img src="{% static 'assets/bg.png' %}" style="width: 6%; height: 100%; border-radius: 30%;">
                <span class="whiteText">Calorie</span>&nbsp;<span class="blackText" style="font-weight: bold;">Ku</span>
              </div>


        </div>

        <div class="row" style="text-align: center;">
          <div class="container-fluid">
            <br><br><br><br>
            <div class="pertanyaan" style="font-size: 48px;">Saran Untuk Kami</div>
            <br>
            <div class="counter">
            <table class="table">
              <thead style="border-bottom: 4px solid #00CED1; width: 100%;">
                <tr>
                  <th scope="col">No.</th>
                  <th scope="col">Nama</th>
                  <th scope="col">Pesan</th>
                </tr>
              </thead>

            <tbody>
            {% for Feedback in hasilFeedback %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <th scope="row">{{ Feedback.Nama }}</th>
              <th scope="row">{{ Feedback.Pesan }}</th>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>



          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>