<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <title>Testimoni</title>
    </head>

    <body>
        <div class="row">
      <div class="col">
        <div class="row" style="background-color: #777D71; padding: 0.5%;">

              <div class="col-auto">
                <div id="circle"></div>
              </div>
              <div class="col" style="font-size: 35px">
                <span class="whiteText">Calorie</span>&nbsp;<span class="greenText">Ku</span>
              </div>

        </div>

        <div class="box" style="padding: 20%; padding-top: 5%; padding-bottom: 0%; align-self: center;">
        <form method="POST" action="/testimony/" style="font-size:24px; font-style: italic; font-family: Merriweather;">
            {% csrf_token %}
            <h3 align="center">Tulis Testimoni yuk!</h3>
            <div class="form-group">
                <label>Nama</label>
                <input type="text" class="form-control" position="absolute" name="nama" maxlength="50" id= "nama" placeholder="Nama">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" position="absolute" name="email" maxlength="50" id= "email" placeholder="Email">
            </div>
            <div class="form-group">
                <label>Kesan</label>
                <textarea type="text" class="form-control" position="absolute" name="kesan" maxlength="200" rows="4" id="kesan"></textarea>
            </div>
            <button position="absolute" align="center" type="submit" class="btn btn-primary">Submit</button>
        </form>
        </div>


    {% for index in hasilTestimony %}
            <br>
            Nama :
            {{ index.nama }} <br>
            Email :
            {{ index.email }} <br>
            Kesan :
            {{ index.kesan }} <br>
            
    {% endfor %}
    </body>
</html>
