body, html {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}
.nav2{
  background-color: #F5F5F5;
  padding: 0;
  padding-bottom: 0;
  font-size: 16px;
}
.navbar{
   font-family: Armata;
}
.text{
  color: white;
  font-weight: bold;
}

.bg {
  /* The image used */
  background-image: url("../assets/home.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg2{
  background-image: url("../assets/isibuku.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.judul{
  margin-top: 8%;
  text-align: center;
  font-size: 5em;
  font-weight: bold;
  font-family: Armata;

}
.judul2{
  margin-top: 8%;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  font-family: Armata;
}
.ku2{
  font-color : green;
}
.logo{
  color: green;
  font-family: Armata;
}
.carousel-inner {
  height: 400px;
  margin-bottom: 7%;
}
.carousel-inner .item {
  height: 400px;
}
.carousel-inner .item .slider {
  height: 400px;
}
.p1{
  height: 50%;
  width: 50%;
  font-family: Armata;
}
.p2{
  height: 35%;
  width: 35%;
  font-family: Armata;
}
.ku{
  color: green;
}
@media only screen and (max-width: 500px) {
  h1 {
    font-size: 2em;
    margin-top: 10%;

  
  }
}
.slider{
  opacity: 0.8;
    filter: alpha(opacity=60); 
}
p{
  font-size: 1.2em;
  font-family: Armata;

}
.all {
  width: 70%;
  height: auto;
  background-color: #003333;
  padding: 3%;
  color: white;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 30px;
}
.tabel th,td {
    text-align: center;
    padding: 6px;
}
.tabel {
  border-radius: 30px;
  width: 70%;
  float: none;
  margin: auto;
  border-collapse: collapse;
  text-align: center;
  color: white;
}

.daftar{
  text-align: center;
  margin-top: 7%;
  font-family: Armata;
  font-weight: bold;
}



