{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Homepage</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Armata' rel='stylesheet'>
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styleShinta.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</head>

<!-- ---------------------------------------------------------------------------------------------------------------------- -->
<body class="bg">
<nav class="navbar navbar-default navbar-fixed-top nav1">
  <div class="container-fluid nav2">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="navbar"><a href="#home" class="text"> Calorie <span style="font-color : green"> Ku</span> <span class="sr-only">(current)</span></a></li>
        <li class="navbar"><a href="#daftarbuku" class="text"> Daftar Pengunjung <span class="sr-only">(current)</span></a></li>
        <li class="navbar" ><a href="#form" class="text"> Isi Buku Tamu <span class="sr-only">(current)</span></a></li>
        <li class="navbar" ><a href="/IsiFeedback/" class="text"> Isi Feedback <span class="sr-only">(current)</span></a></li>
        <li class="navbar" ><a href="/testimony/" class="text"> Testimoni <span class="sr-only">(current)</span></a></li>
        <li class="navbar" ><a href="/inputMakananApp/" class="text"> Input Makanan <span class="sr-only">(current)</span></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- ----------------------------------------------------------------------------------- -->
<section id="home" class="home container-fluid">
<h1 class="judul"> CALORIE <span class ="ku"> KU </span> </h1>
<div class="container"> 
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <img src="{% static 'assets/home.png' %}" class="slider">
        <div class="carousel-caption">
          <img class="p1" src="{% static 'assets/bg.png' %}">
          <p> Memenuhi kebutuhan kalori dengan baik akan banyak menghasilkan efek positif bagi tubuh. Sebaliknya, orang yang tidak mempedulikan kebutuhan kalorinya akan dihadapkan dengan berbagai masalah kesehatan. Oleh karena itu, hitung kalori kamu sekarang yuk!</p>
        </div>
      </div>
      <div class="item">
        <img src="{% static 'assets/home.png' %}" class="slider">
        <div class="carousel-caption">
          <img class="p2" src="{% static 'assets/p2.png' %}"> <br>
          <p> Yuk Hitung kalori mu sekarang! Eits tapi sebelumnya isi buku tamu dulu yaa!!</p>
          <a href="#form">  <button type="submit" class="btn btn-primary butt" style="background-color: black"> Isi buku tamu</button>  </a>
          <a href="#daftarbuku"> <button type="submit" class="btn btn-primary butt" style="background-color: black"> Lihat buku tamu </button> </a>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
</section>

<!-- -------------------------------------------------------------------------------------------------------- -->
<section id="daftarbuku" class="home container-fluid" style="background-color: #99CC99">
      <h1 class="daftar"> Daftar Pengunjung <span class="judul2"> CALORIE <span class ="ku"> KU </span> </h1>
      <table class="table table-hover tabel" style="background-color: #2F4F4F  ; margin-top: 5%; margin-bottom: 5%">
        <thead>
          <tr>
            <th> Nama</th>
            <th>Email</th>
            <th>Tanggal</th>
          </tr>
        </thead>
        <tbody>
          {% for i in list %}
          <tr>
            <td>{{ i.nama }}</td>
            <td>{{ i.email }}</td>
            <td>{{ i.tanggal }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
</section>
<!-- ---------------------------------------------------------------------------------------------------------- -->
<section id="form" class="home container-fluid" style="background-color: #E2F0CB ">

<h1 class="daftar"> Isi Buku Tamu   <span class="judul2"> CALORIE <span class ="ku"> KU </span> </h1>
<div class ="all">
  <form action = "/submitisibuku/" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label class ="label"> Tulis nama kamu ya<br> </label> 
      <input  name = "nama" type="text" class="form-control input" placeholder="Contoh : Isabela">
    </div>
    <div class="form-group">
      <label class ="label"> Emailnya jangan lupa<br> </label> 
      <input name = "email" type="text" class="form-control input" placeholder="Contoh : isabela123@gmail.com">
    </div>
     
    <div class="form-group">
      <label class ="label"> Tulis tanggal hari ini ya<br></label> 
      <input name="tanggal" type="text" class="form-control input" placeholder="Contoh : 9 April 2018">
    </div>
    <div class="form-group form-check">
    </div>
    <button type="submit" class="btn btn-primary butt"> Submit </button>
  </form>
  </div>
</body>
</html>

</body>
</html>
