body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("../assets/home.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg2{
  background-image: url("../assets/isibuku.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

h1{
  margin-top: 5%;
  margin-bottom: 3%;
  text-align: center;
  font-size: 5em;
  font-weight: bold;

}
.carousel-inner {
  height: 400px;
}
.carousel-inner .item {
  height: 400px;
}
.carousel-inner .item .slider {
  height: 400px;
}
.p1{
  height: 50%;
  width: 50%;
}
.p2{
  height: 35%;
  width: 35%;
}
.ku{
  color: green;
}
@media only screen and (max-width: 500px) {
  h1 {
    font-size: 2em;
    margin-top: 10%;
  
  }
}
.slider{
  opacity: 0.8;
    filter: alpha(opacity=60); 
}
p{
  font-size: 1.2em;
}
.all {
  width: 70%;
  height: auto;
  background-color: lightgrey;
  padding: 3%;
  margin: auto;
}
.table th {
    text-align: center;
}

.table {
    border-radius: 5px;
    width: 70%;
    float: none;
    margin: auto;
}