
.NamaApp{
	font-weight: bold;
}

body{
	background-image: url("{% static 'assets/isibuku.jpg' %}")
  overflow: hidden;
  margin: 0;
    }

.row1{
  background-image: url("{% static 'assets/isibuku.jpg' %}")
}

.header{
	height: 50px;
}

.whiteText
    {
        color:white;
        font-weight:bold;
    }
.blackText
    {
        font-weight:bold;
    }
#circle {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: #F0E1E1;
      margin-left: 30%;
    }
.pertanyaan {
	font-weight: bolder; 
	font-family: Source Sans Pro;
	font-size: 48px;
}
